@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
  font-family: 'Open Sans';
}

* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: black;
}

h1 {
  margin: 0;
}
