.playlist {
  position: absolute;
  top: 0px;
  border-radius: inherit;
  border: 0px;
  width: inherit;
  height: inherit;
  background-color: #f3f4f8;
}

.top_playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  top: 0px;
  height: 65px;
}
.top_playlist h1 {
  color: #60558f;
}

.back {
  left: 20px;
  position: absolute;
  background-image: url('../img/back.png');
  width: 36px;
  height: 36px;
}

.song {
  margin: 15px 25px 15px 25px;
  position: relative;
}

.song_icon {
  position: absolute;
  transform: translateY(100%);
  z-index: auto;
}

.song_fav {
  color: #ed5e74;
  width: 15px;
  height: 12px;
  right: 0px;
}


.song_shar {
  color: #60558f;
  width: 13px;
  height: 13px;
  right: 21px;
}

.song_playlist {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  height: 380px;
}

hr {
  width: 280px;
  color: #d3d5de;
}

.song p {
  margin: 0px;
}
.playlist_title {
  color: #78747f;
}
.playlist_artist {
  color: #2f1a4b;
  padding-bottom: 10px;
  font-weight: bold;
}


.bottom_playlist {
  height: 100px;
  /*background: -webkit-linear-gradient(to top, rgba(250,250,250, 1), rgba(0, 0, 0, 0));*/
  background: -webkit-linear-gradient(bottom,rgba(250,250,250, 1),rgba(250,250,250, 1) 50%,rgba(255,255,255,0));
  background: -moz-linear-gradient(bottom,rgba(250,250,250, 1),rgba(250,250,250, 1) 50%,rgba(255,255,255,0));
  background: -ms-linear-gradient(bottom,rgba(250,250,250, 1),rgba(250,250,250, 1) 50%,rgba(255,255,255,0));
  background: linear-gradient(bottom,rgba(250,250,250, 1),rgba(250,250,250, 1) 50%,rgba(255,255,255,0));
}
