

@media all and (min-width: 300px) and (max-width: 500px) {

    .preloader {
      width: 100%;
      height: 500px;
    }

    .project {
      width: 80%;
    }
    nav .menu {
      right: 0;
      top: 0;
    }

}
