@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('handheld.scss');
@import url('normalize.css');
@import url('preloader.css');



html {
  // font-family: 'Open Sans';
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  color: #666666;
  height: 100%;
  padding: 0;
}

.preloader-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 999;
}
.preloader {
  // position: absolute;
  // width: 200px;
  // height: 200px;
}

h1, h4 {
  margin: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
}
a:hover {
  // color: red;
}
a:active {
  // color: green;
}

.flex {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome {
  height: 100%;
}

.name-background {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  // margin: 0;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);

}

.projects-container {
  flex-wrap: wrap;

  .brain {
    // background-color: #FED136;
    background-image: linear-gradient( 135deg, #FDEB71 0%, #F8D800 100%);
  }
  .color {
    background-image: linear-gradient( 135deg, #FEB692 0%, #EA5455 100%);
  }
  .cloud {
    background-image: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
  }
  .slider {
    background-image: linear-gradient( 135deg, #81FBB8 0%, #28C76F 100%);
  }

}

.project {
  position: relative;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  margin: 25px;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;

  .project-link {
    position: absolute;
    margin: 10px;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .project-info {
    cursor: default;
    opacity: 0;
    width: 100px;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  img {
    transition: all 0.5s ease-in-out;
  }
}

.project:hover .project-link {
  opacity: 1;
}

.project:hover .project-info {
  transform: translateX(50px);
  opacity: 1;
}
.project:hover > img {
  transform: translateX(-50px);
}



.project:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
}




ul {
  list-style-type: none;
  padding: 0;
}

nav {
  // position: fixed;
  width: 100%;
  z-index: 1;
  .menu {
    top: 30px;
    right: 30px;
    position: absolute;
    li {
      padding: 15px;
    }

  }
}

.skills-container {
  flex-wrap: wrap;
}

.skill-img, .love-img, .tooltip {
  width: 80px;
  // filter: grayscale(100%);
  transition: all 0.1s linear;
  margin: 25px;
}


.skill-img:hover, .love-img:hover {
  filter: none;
  transform: scale(1.1);
}

footer {
  height: 100px;
  font-size: 12px;
}

.pound {
  animation: pound 1s infinite;
}

@keyframes pound {
  50% {
    transform: scale(1.1);
  }
}

.split {
  width: 500px;
  font-size: 14px;
  margin: 25px;
  text-align: left;
  line-height: 30px;
  a {
    color: #DC143C; //crimson
  }
}


.love-item {
  width: 150px;
  margin: 25px;
  span {
    margin-top: 10px;
  }
}

.tooltip {
  position: relative;
}

.tooltip span{
  opacity: 0;
  bottom: -10px;
  position: absolute;
  transition: all 0.35s linear;
}

.tooltip:hover span {
  opacity: 1;
}

.imagination {
  -webkit-animation: vibrate 0.3s linear infinite both;
          animation: vibrate 0.3s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
