@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('normalize.css');

html {
  // font-family: 'Open Sans';
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  color: #666666;
  height: 100%;
  margin: 0;
  padding: 0;
}


h1, h4 {
  margin: 20px;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000000;
}
a:hover {
  // color: red;
}
a:active {
  // color: green;
}

.flex {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.welcome {
  height: 100%;
}

.name-background {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  // margin: 0;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);

}

.projects-container {
  flex-wrap: wrap;

  .brain {
    // background-color: #FED136;
    background-image: linear-gradient( 135deg, #FDEB71 0%, #F8D800 100%);
  }
  .color {
    background-image: linear-gradient( 135deg, #FEB692 0%, #EA5455 100%);
  }
  .cloud {
    background-image: linear-gradient( 135deg, #CE9FFC 0%, #7367F0 100%);
  }
  .slider {
    background-image: linear-gradient( 135deg, #81FBB8 0%, #28C76F 100%);
  }

}

.project {
  position: relative;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  margin: 25px;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;

  .project-link {
    position: absolute;
    margin: 10px;
    bottom: 0;
    right: 0;
    // opacity: 0;
  }

  .project-info {
    cursor: default;
    opacity: 0;
    width: 100px;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  img {
    transition: all 0.5s ease-in-out;
  }
}

.project:hover .project-info {
  transform: translateX(50px);
  opacity: 1;
}
.project:hover > img {
  transform: translateX(-50px);
}



.project:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
}




ul {
  list-style-type: none;
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  .menu {
    top: 30px;
    right: 30px;
    position: absolute;
    li {
      // float: left;
      padding: 15px;
    }

  }
}

.skills-container {
  .skill-img {
    width: 80px;
    filter: grayscale(100%);
    transition: all 0.1s linear;
  }
}

.skill-img:hover {
  filter: none;
  transform: scale(1.1);
}

footer {
  height: 100px;
  font-size: 12px;

  .pound {
    animation: pound 1s infinite;
  }

  @keyframes pound {
    50% {
      transform: scale(1.1);
    }
  }
}
